<%= render 'header' %>

<main>
  <turbo-frame id="new_book">
    <article>
      <h1>
        Add a new book
      </h1>
      <figure>
        <turbo-frame id="author">
          <%= link_to 'Author missing? Add an author', new_author_path %>
        </turbo-frame>
        <%= turbo_stream_from 'authors' %>
        <div id= "book_errors">
          <%= render partial: 'shared/errors', locals: { object: @book } %>
        </div>
        <%= form_for @book do |f| %>
          <%= f.label :title, "Title" %>
          <%= f.text_field :title %>
          <%= f.label :shelf, "Shelf" %>
          <%= f.select :shelf, data_for_shelf_select %>
          <%= f.label :cover, "Book cover" %>
          <%= f.file_field :cover, accept:'image/*' %>
          <%= f.label :author, "Author" %>
          <div id="authors">
            <%= render partial: "authors/authors_select", locals: { authors: @authors } %>
          </div>
          <%= f.submit %>
        <% end %>
      </figure>
    </article>
  </turbo-frame>
</main>
