<%= render 'header' %>

<main>
  <turbo-frame id="books">
    <article>
      <h1>
        <%= @book.title %>
      </h1>
      <figure>
        <img src="<%= url_for(@book.cover) %>" alt="<%= "The cover artwork for #{@book.title}" %>" width="200" height="300">
      </figure>
      <p>
        <%= "By #{@book.author.name}" %>
      </p>
      <aside>
        <%= link_to '&larr; See all'.html_safe, books_path, data: { turbo_frame: '_top' } %>
      </aside>
    </article>
  </turbo-frame>
</main>
